/*

body>footer
Hijo directo!

RGBA (alpha 0 => 1)

* selector universal
Iconos tipográficos


Alineamiento :

1) modificación de display
	propiedad display: 
		a una etiqueta cuyo display en inline no le podemos cambiar su ancho
		
2) propiedad float > se colapsa el elemento padre si no tiene otra cosa. Hay que usar clear en un div hermanito

3) Flex : 
	
	
Alturas dinamicas

		html: 
			height: 100%;
			
		body	
			min-height: 100%;
	

*/
html{
	height: 100vh;
}
*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}


.links, body>footer nav a{
	text-decoration: none;
}

body>header, body>footer, body>header nav a, body>footer nav a{
	background-color: #3F51B5;
	color: #fff;
}
#titulo-central{
	font-size: 40px;
}

body > header{
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
}

body>header nav{
	margin-right: 20px;
}

body>header, body>footer, main{
	padding: 15px;
}
body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
main{
	flex-grow: 1;
	/*background-image: url("../imagenes/fondo.jpg");*/
	background-repeat: no-repeat;	
	background-size: 100%;
}


/* PERFIL */

main#profile{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 200px;
}

main#profile .avatar{
	width: 150px;
	height: 150px;
	background-image: url("../imagenes/bob.png");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	box-shadow: 2px 2px 10px #666;
}
